*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#a-trans {
    text-decoration-line: none;
    color: inherit;
}

#div1 {
    background-color: cyan;
    text-align: center;
    height: 80px;
    padding: auto;
    margin: auto;
}

#h1-title {
    display: inline-block;
    color: rgb(26, 56, 227);
    margin: 0;
    padding: 0;
    font-size: 3.13em;
}

h1.effect {
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    span {
        transform: scale(0.9);
        display: inline-block;
      }
}

#h2-title {
    display: inline;
    font-size: 30px;
}

h2.c1{
    color: rgb(246, 135, 18);
}

h2.c2{
    color: rgb(3, 114, 14);
}

#img-size {
    width: 100%;
    height: auto;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    font-size: 20px;
}

/* 드롭다운 메뉴 */
.menu {
    width: auto;
    overflow: visible;
    margin: auto;
    position: sticky;
    top: 0;
}
  
.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #333;
}
  
.menu a {
    color: #fff;
}
  
.submenu > li {
    border: 2px solid lightgray;
    line-height: 50px;
    background-color: #333;
}
  
.submenu {
    height: 0;
    overflow: hidden;
}

.menu > li:hover {
    background-color: #111;
}

.submenu > li:hover {
    background-color: #111;
    transition-duration: 0.5s;
}
  
.menu > li:hover .submenu {
    height: auto;
    transition-duration: 1s;
}

@media screen and (max-width: 955px) {
    .menu > li {
        float: none;
        width: 100%;
    }
}

#div-back{
    margin: 0 10% 0 10%;
    padding: 1px 16px 1px 16px;
    border: 3px solid cyan;
}

.div2 {
    background-color: rgb(203, 65, 6);
    color: white;
    text-align: center;
    overflow: visible;
    height: 150px;
    padding-top: 50px;
    margin-top: auto;
}

#h2-sub{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    padding: 10px;
}

pre{
    font-size: 1.25em;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
  
@media screen and (max-width: 955px) {
    .row {   
      flex-direction: column;
    }
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td{
    text-align: center;
}

.footer {
    display: block;
    padding: 30px;
    text-align: right;
    background: #ddd;
}
